<a href="https://colab.research.google.com/github/RU-Krishna/ASK/blob/main/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Practice Session.

In [ ]:
import pandas as pd
import numpy as np
import calendar as cd

In [ ]:
# EngAlphabet

engAlpha = pd.Series(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'],
                     index = range(1,27))
print(engAlpha)

# Vowels as index label and their values set to 0.

vowels = pd.Series(np.zeros(5, dtype = int), index = ['a','e','i','o','u'])
print(f'Vowels: \n{vowels}')

# Your 5 friends from dictionary having name as the key and roll no as the value.
# data is given in dictionary form.
friends = pd.Series(data = {
    'Krishna': 2150080580020,
    'Rds': 2150080580042,
    'Swakshat': 2150080580054,
    'Trisha': 2150080580056,
    'Pray': 2150080580035
})
print(f'Friends: \n{friends}')

# Month Days
months = list(cd.month_name)
del months[0]
monthDays = pd.Series(
    data = pd.array([31,29,31,30,31,30,31,31,30,31,30,31]),
    index = months
)
print(f'Month Days:\n{monthDays}')

1     a
2     b
3     c
4     d
5     e
6     f
7     g
8     h
9     i
10    j
11    k
12    l
13    m
14    n
15    o
16    p
17    q
18    r
19    s
20    t
21    u
22    v
23    w
24    x
25    y
26    z
dtype: object
Vowels:
a    0
e    0
i    0
o    0
u    0
dtype: int64
Friends:
Krishna     2150080580020
Rds         2150080580042
Swakshat    2150080580054
Trisha      2150080580056
Pray        2150080580035
dtype: int64
Month Days:
January      31
February     29
March        31
April        30
May          31
June         30
July         31
August       31
September    30
October      31
November     30
December     31
dtype: Int64

In [ ]:
# set all the values in the vowel series to 10

vowels.replace(to_replace = 0, value = 10, inplace= True)
print(f'Vowels: \n{vowels}')

vowels = vowels.divide(2)
print(f'After Dividing by 2:\n{vowels}')


vowel1 = pd.Series(data = [2,5,6,3,8], index = ['a','e','i','o','u'])
print(f'New vowel Series: \n{vowel1}')

vowel3 = vowels + vowel1
print(f'New Vowel Series: \n{vowel3}')


vowel_sub = vowels.sub(vowel1)
vowel_mul = vowels.mul(vowel1)
vowel_div = vowels.div(vowel1)

print(f'Vowel  Subtraction: \n{vowel_sub}')
print(f'Vowel Multiplication: \n{vowel_mul}')
print(f'Vowel Divide: \n{vowel_div}')

# Altering the labels of vowels to capital ones.
result = vowels.rename(index = {'a':'A', 'e': 'E', 'i':'I', 'o':'O', 'u':'U'})
print(f'After replacing labels: \n{result}')

Vowels:
a    0.009766
e    0.009766
i    0.009766
o    0.009766
u    0.009766
dtype: float64
After Dividing by 2:
a    0.004883
e    0.004883
i    0.004883
o    0.004883
u    0.004883
dtype: float64
New vowel Series:
a    2
e    5
i    6
o    3
u    8
dtype: int64
New Vowel Series:
a    2.004883
e    5.004883
i    6.004883
o    3.004883
u    8.004883
dtype: float64
Vowel  Subtraction:
a   -1.995117
e   -4.995117
i   -5.995117
o   -2.995117
u   -7.995117
dtype: float64
Vowel Multiplication:
a    0.009766
e    0.024414
i    0.029297
o    0.014648
u    0.039062
dtype: float64
Vowel Divide:
a    0.002441
e    0.000977
i    0.000814
o    0.001628
u    0.000610
dtype: float64
After replacing labels:
A    0.004883
E    0.004883
I    0.004883
O    0.004883
U    0.004883
dtype: float64

In [ ]:
# More exercises on previous questions.

# Vowels Series
print(f'Dimensions: {vowels.shape} \nSize: {vowels.size} \nValues: {vowels.values}')

#English Alphabet
print(f'Dimensions: {engAlpha.shape} \nSize: {engAlpha.size} \nValues: {engAlpha.values}')

#Friend series
print(f'Dimensions: {friends.shape} \nSize: {friends.size} \nValues: {friends.values}')

#Month Days Series
print(f'Dimensions: {monthDays.shape} \nSize: {monthDays.size} \nValues: {monthDays.values}')


#Rename the monthDays Series index to months
monthDays.index.name = 'Months'
friends.index.name = 'Friends Name'

print(f'Month Days: \n{monthDays}')
print(f'Friends: \n{friends}')

Dimensions: (5,)
Size: 5
Values: [0.00488281 0.00488281 0.00488281 0.00488281 0.00488281]
Dimensions: (26,)
Size: 26
Values: ['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p' 'q' 'r'
 's' 't' 'u' 'v' 'w' 'x' 'y' 'z']
Dimensions: (5,)
Size: 5
Values: [2150080580020 2150080580042 2150080580054 2150080580056 2150080580035]
Dimensions: (12,)
Size: 12
Values: <IntegerArray>
[31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
Length: 12, dtype: Int64
Month Days:
Months
January      31
February     29
March        31
April        30
May          31
June         30
July         31
August       31
September    30
October      31
November     30
December     31
dtype: Int64
Friends:
Friends Name
Krishna     2150080580020
Rds         2150080580042
Swakshat    2150080580054
Trisha      2150080580056
Pray        2150080580035
dtype: int64

In [ ]:
# Display the 2nd and 3rd values of the series Friends.

print(f'2nd & 3rd values of the friend series: {friends[2:4].values}')

#Display the alphaets from e to p in engAlpha series.
print(f"e to p alphas in the series: {engAlpha[4:16].values}")


#Display the first 10 values in the engAlpha series.
print(f'First 10 alphabets in the series: \n{engAlpha.head(10).values}')

#Last 10 values in he same series.
print(f'Last 10 values in the same series: \n{engAlpha.tail(10).values}')

# Display the series month days in reverse order
print(f'Diaplay the series month days in reverse order: \n{monthDays[ ::-1]}')

2nd & 3rd values of the friend series: [2150080580054 2150080580056]
e to p alphas in the series: ['e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p']
First 10 alphabets in the series:
['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j']
Last 10 values in the same series:
['q' 'r' 's' 't' 'u' 'v' 'w' 'x' 'y' 'z']
Diaplay the series month days in reverse order:
Months
December     31
November     30
October      31
September    30
August       31
July         31
June         30
May          31
April        30
March        31
February     29
January      31
dtype: Int64

In [ ]:

sales_person = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']
sales_data = {
    '2014': pd.Series([100.5, 150.5, 200.9,30000,40000], index = sales_person),
    '2015': pd.Series([12000,18000,22000,30000,45000], index = sales_person),
    '2016': pd.Series([20000,50000,70000,100000,12500], index = sales_person),
    '2017': pd.Series([50000,60000,70000,80000,90000], index = sales_person)
}


salesDF = pd.DataFrame(
    data = sales_data
)
print(f'Sales Data: \n{salesDF}')

#Display the row labels of the sales Data FRame
print(f'Row Labels: \n{salesDF.index}')

#Display the column labels of the Data Frame
print(f'Column Labels: \n{salesDF.columns}')

# Display the dimesnions, shape, size and values of the Data FRame.
print(f'Dimensions: {salesDF.ndim} \nShape: {salesDF.shape} \nSize: {salesDF.size} \nValues: {salesDF.values}')

#Display the last two rows of the DF.
print(f'Last 2 rows of te Data Frame: \n{salesDF.iloc[0: 2, 0: ]}')

#Display the first two column
print(f'First two columns of the Data Frame: \n{salesDF.iloc[0: , 2: ]}')


#Sales 2 of 2018
sales2_dict = {
    '2018': pd.Series(data = [160000,110000,500000,340000,900000], index = sales_person)
}
sales2DF = pd.DataFrame(sales2_dict)
print(f'2018 sales: \n{sales2DF}')


#Check if sales 2 is empty or not
print(f'Is sales2 empty: \n{sales2DF.empty}')

Sales Data:
            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.5  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000   12500  90000
Row Labels:
Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')
Column Labels:
Index(['2014', '2015', '2016', '2017'], dtype='object')
Dimensions: 2
Shape: (5, 4)
Size: 20
Values: [[   100.5  12000.   20000.   50000. ]
 [   150.5  18000.   50000.   60000. ]
 [   200.9  22000.   70000.   70000. ]
 [ 30000.   30000.  100000.   80000. ]
 [ 40000.   45000.   12500.   90000. ]]
Last 2 rows of te Data Frame:
        2014   2015   2016   2017
Madhu  100.5  12000  20000  50000
Kusum  150.5  18000  50000  60000
First two columns of the Data Frame:
           2016   2017
Madhu     20000  50000
Kusum     50000  60000
Kinshuk   70000  70000
Ankit    100000  80000
Shruti    12500  90000
2018 sales:
           2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000
Is sales2 empty:
False

In [ ]:
newSalesDF = pd.concat(objs = [salesDF, sales2DF], axis = 1)
print(f'New Sales DF: \n{newSalesDF}')

#Transpose he new Sales Data Frame
print(f'Transpose of the new Sales Data Frame: \n{newSalesDF.T}')

#Display the sales made by each person in 2017
print(f"Sales in 2017: \n{newSalesDF.loc[ :,'2017']}")

#Sales by madhu and ankit in 2017 & 2018
print(f'Sales by Ankit & Madhu in 2017 & 2018: \n{newSalesDF.loc[["Ankit", "Madhu"], ["2017", "2018"]]}')

#Sales made by Shruti in 2016
print(f'Sales by Shruti in 2016: \n{newSalesDF.loc["Shruti", "2016"]}')

#Add data for salesman Summet for all the year.
newSalesDF.loc['Sumeet'] = [196.2, 38700, 52000, 78438,38852]
print(f'New sales after adding Sumeet: \n{newSalesDF}')

# after dropping sales of 2014
sales2014 = newSalesDF.drop('2014', axis = 1)
print(f'After deletion: \n{sales2014}')

# delete sales for Kinushk
kinushkRemove = newSalesDF.drop('Kinshuk', axis = 0)
print(f'After kinsushk removal: \n{kinushkRemove}')

# Chnage the name
renameDF = newSalesDF.rename({'Ankit': 'Vivaan', 'Madhu': 'Shailesh'}, axis= 0)
print(f'After renaming: \n{renameDF}')

#Sale value updation
renameDF.loc['Shailesh', '2018'] = 100000
print(f'Shailesh Sales Updation for 2018: \n{renameDF}')

New Sales DF:
            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.5  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000   12500  90000  900000
Transpose of the new Sales Data Frame:
         Madhu     Kusum   Kinshuk     Ankit    Shruti
2014     100.5     150.5     200.9   30000.0   40000.0
2015   12000.0   18000.0   22000.0   30000.0   45000.0
2016   20000.0   50000.0   70000.0  100000.0   12500.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0
Sales in 2017:
Madhu      50000
Kusum      60000
Kinshuk    70000
Ankit      80000
Shruti     90000
Name: 2017, dtype: int64
Sales by Ankit & Madhu in 2017 & 2018:
        2017    2018
Ankit  80000  340000
Madhu  50000  160000
Sales by Shruti in 2016:
12500
New sales after adding Sumeet:
            2014     2015      2016     2017      2018
Madhu      100.5  12000.0   20000.0  50000.0  160000.0
Kusum      150.5  18000.0   50000.0  60000.0  110000.0
Kinshuk    200.9  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti   40000.0  45000.0   12500.0  90000.0  900000.0
Sumeet     196.2  38700.0   52000.0  78438.0   38852.0
After deletion:
            2015      2016     2017      2018
Madhu    12000.0   20000.0  50000.0  160000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Kinshuk  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  100000.0  80000.0  340000.0
Shruti   45000.0   12500.0  90000.0  900000.0
Sumeet   38700.0   52000.0  78438.0   38852.0
After kinsushk removal:
           2014     2015      2016     2017      2018
Madhu     100.5  12000.0   20000.0  50000.0  160000.0
Kusum     150.5  18000.0   50000.0  60000.0  110000.0
Ankit   30000.0  30000.0  100000.0  80000.0  340000.0
Shruti  40000.0  45000.0   12500.0  90000.0  900000.0
Sumeet    196.2  38700.0   52000.0  78438.0   38852.0
After renaming:
             2014     2015      2016     2017      2018
Shailesh    100.5  12000.0   20000.0  50000.0  160000.0
Kusum       150.5  18000.0   50000.0  60000.0  110000.0
Kinshuk     200.9  22000.0   70000.0  70000.0  500000.0
Vivaan    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti    40000.0  45000.0   12500.0  90000.0  900000.0
Sumeet      196.2  38700.0   52000.0  78438.0   38852.0
Shailesh Sales Updation for 2018:
             2014     2015      2016     2017      2018
Shailesh    100.5  12000.0   20000.0  50000.0  100000.0
Kusum       150.5  18000.0   50000.0  60000.0  110000.0
Kinshuk     200.9  22000.0   70000.0  70000.0  500000.0
Vivaan    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti    40000.0  45000.0   12500.0  90000.0  900000.0
Sumeet      196.2  38700.0   52000.0  78438.0   38852.0

In [ ]:
# Writing the Data Frame to a file in format
# newSalesDF.to_csv(path_or_buf= 'sales.csv', sep = ",", header = False, index =False)

print(sales_person)

readSalesDF = pd.read_csv('sales.csv', sep = ",", index_col = False, names = ['2014', '2015', '2016', '2017', '2018'])
readSalesDF.index = sales_person
print(f'After Reading: \n{readSalesDF}')

['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti', 'Sumeet']
After Reading:
            2014     2015      2016     2017      2018
Madhu      100.5  12000.0   20000.0  50000.0  160000.0
Kusum      150.5  18000.0   50000.0  60000.0  110000.0
Kinshuk    200.9  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti   40000.0  45000.0   12500.0  90000.0  900000.0
Sumeet     196.2  38700.0   52000.0  78438.0   38852.0